<div class="sumForm">
  <h1>Please insert some number.</h1>
  <.form let={f} for={@data} phx-submit="submit" as={:data}>
    <%= number_input(f, :to, autofocus: true) %>
  </.form>
  <br />

  <div>
    <%= for operation <- @operations do %>
    <div>∑(1..<%= operation.input %>) = <%= operation.result %></div>
    <% end %>
  </div>
</div>
